# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. Assign any number of type integer to the variable "num_1"

In [1]:
num_1 = 17

In [2]:
num_1

17

#### 2. Assign any number of type float to the variable "num_2"

In [3]:
num_2 = 13.31

In [4]:
num_2

13.31

#### 3. Create the variable "total" as the sum of variables "num_1" and "num_2"

In [7]:
total = num_1 + num_2

In [8]:
total

30.310000000000002

#### 4. Check the type of the variable "total"

In [9]:
type(total)

float

#### 5. Assign your height to the variable "height"

In [34]:
height = .42

In [13]:
height

42

#### 6. Assign your weight to the variable "mass"

In [35]:
mass = 7

In [23]:
mass

7

#### 7. Create the variable "bmi" :
hint: bmi = weight / (height*height)

In [36]:
bmi = mass/(height*height)

#### 8. Print the value of the "bmi" variable

In [37]:
bmi

39.68253968253969

In [38]:
## realised height should have been in metres, not centimetres. also this is my cat's weight. he's fine.

# String

#### 1. Create the variable "name" with your first name

In [39]:
name = 'Annie'

In [40]:
name

'Annie'

#### 2. Create the variable "surname" with your surname

In [41]:
surname = 'Stanley'

In [42]:
surname

'Stanley'

#### 3. Create the variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [43]:
name_surname = name + ' ' + surname

#### 4. Print the variable "name_surname"

In [44]:
print(name_surname)

Annie Stanley

#### 5. Print the first letter of the variable "name_surname"

In [48]:
print(name_surname[0])

A

#### 6. Print your name (without any enmpty space) from the variable "name_surname"

In [54]:
len(name_surname)

13

In [64]:
print(name_surname[0:5]+name_surname[6:13])

AnnieStanley

#### 7. Print your surname 10x (use variable "surname")

In [65]:
print(surname*10)

StanleyStanleyStanleyStanleyStanleyStanleyStanleyStanleyStanleyStanley

#### 8. Create the variable "greeting" with the message "Hello my name is " + your name and surname (use "name_surname" variable)

In [66]:
greeting = "Hello my name is " + name_surname

#### 9. Print the "message" variable

In [67]:
print(greeting)

Hello my name is Annie Stanley

## List

#### 1. Create an empty list named "empty_list"

In [68]:
empty_list = []

#### 2. Create a list called "heights" with five random values

In [69]:
heights = [185,182,180,179,178]

#### 3. Print "heights"

In [71]:
print(heights)

[185, 182, 180, 179, 178]

#### 4. Print the type of variable for "heights"

In [72]:
type(heights)

list

#### 5. Print the second value from "heights"

In [73]:
heights[1]

182

#### 6. Assign the last three values from "heights" to another list called "heights_2"

In [74]:
heights_2 = heights[2:5]

[180, 179, 178]

#### 7. Print "heights_2"

In [77]:
print(heights_2)

[180, 179, 178]

#### 8. Create the variable "list_all" with values from lists "heights" and "heights_2"

In [84]:
list_all = heights + heights_2

#### 9. Print "list_all"

In [85]:
print(list_all)

[185, 182, 180, 179, 178, 180, 179, 178]

#### 10. Print the type of "list_all"

In [86]:
type(list_all)

list

## Tuple

#### 1. Create an empty tuple called "empty_tuple"

In [87]:
empty_tuple = ()

#### 2. Try to assign your name to the first position of "empty_tuple" and check the type of error that occurs

In [88]:
empty_tuple[0] = 'Annie'

TypeError: 'tuple' object does not support item assignment

#### 3. Based on the error that occured in the above question, what is the main difference between a list and a tuple?

In [ ]:
Tuples cannot be modified

## Dictionary

#### 1. Create an empty dictionary named "empty_dict"

In [89]:
empty_dict = {}

#### 2. Create a dictionary called "heights_dict" with your name as a key and height as a value

In [92]:
heights_dict = {
    'Annie' : 161
}

#### 3. Assign another name and height to "heights_dict"

In [93]:
heights_dict['Ben'] = '42'

#### 4. Print "heights_dict"

In [94]:
print(heights_dict)

{'Annie': 161, 'Ben': '42'}

#### 5. Print your height from the "heights_dict" dictionary

In [95]:
print(heights_dict['Annie'])

161

#### 6. Print all values from the "heights_dict" dictionary

In [97]:
print(heights_dict.values())

dict_values([161, '42'])

#### 7. Print all keys from the "heights_dict" dictionary

In [98]:
print(heights_dict.keys())

dict_keys(['Annie', 'Ben'])